@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #10a6c1;
  --primary-hover: #0d8fa8;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #10a6c1;
  --primary-hover: #0d8fa8;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
